{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Checkin | Billing Address{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <p>You have successfully completed your check-in for your appointment with Dr. {{ appointment.calendar.doctor.last_name }}</p>

            <h3>Billing Information</h3>

            <dl class="dl-horizontal">
                <dt>Address1</dt>
                <dd>{{ billing_address.address1 }}</dd>

                <dt>Address2</dt>
                <dd>{{ billing_address.address2 }}</dd>

                <dt>City</dt>
                <dd>{{ billing_address.city }}</dd>

                <dt>State</dt>
                <dd>{{ billing_address.state }}</dd>

                <dt>Zip</dt>
                <dd>{{ billing_address.zip }}</dd>

            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Insurance Information</h3>

            <dl class="dl-horizontal">
                <dt>Insurance Provider</dt>
                <dd>{{ insurance.provider }}</dd>

                <dt>Group ID</dt>
                <dd>{{ insurance.group_id }}</dd>

                <dt>Plan ID</dt>
                <dd>{{ insurance.plan_id }}</dd>
            </dl>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Other Information</h3>

            <dl class="dl-horizontal">
                <dt>Change in Symptoms</dt>
                <dd>{{ appointment.change_in_symptoms }}</dd>

                <dt>Other Questions</dt>
                <dd>{{ appointment.patient_questions }}</dd>
            </dl>


        </div>
    </div>

{% endblock %}

{% block bottom_js %}

    <script type="text/javascript">
    </script>

{% endblock %}