{% extends 'layouts/base.html' %}
{% load filters %}
{% load staticfiles %}
{% load humanize %}

{% block page_title %}View Appointments By Date{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-heading">Upcoming Appointments</h1>


            <ul class="list-unstyled">
                {% for patient in patients.all %}
                    <li>Appointments for {{ patient.first_name }} {{ patient.last_name }}</li>

                    <ul>
                        {% for appointment in patient.appointments.all %}
                            <li>Dr. {{ appointment.calendar.doctor.last_name }}: {{ appointment.start_time|date:"h:i A" }} - {{ appointment.end_time|date:"h:i A" }} {% if appointment.pre_checkin_completed %} [Checkin Complete] {% else %} [<a href="/appointment/{{ appointment.id }}/checkin/billing/">Checkin</a>] {% endif %}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}

            </ul>


{#            <ul class="patients-list list-unstyled">#}
{##}
{#                {% for appointment in appointments %}#}
{#                    <li class="patient">#}
{#                        <ul class="list-unstyled">#}
{#                            <li class="patient-name">{{ appointment.patient.last_name }}, {{ appointment.patient.first_name }}</li>#}
{#                            <li>{{ appointment.start_time|date:"h:i A" }} - {{ appointment.end_time|date:"h:i A" }}</li>#}
{#                            <li class="visit-state">#}
{#                                <select class="visitStateChange" data-visit-id="{{ appointment.visit.id }}">#}
{#                                    {% for visit_state in visit_states %}#}
{#                                        <option value="{{ visit_state.id }}" {% if appointment.visit.visit_state == visit_state %}selected="selected"{% endif %}>{{ visit_state.state }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% endfor %}#}
{##}
{##}
{#            </ul>#}
            <!--End of patients.. go home :)-->
        </div>
    </div>


{% endblock %}

{% block bottom_js %}
    <script>
        $(document).ready(function(){
        })

    </script>


{% endblock %}
