{% extends 'layouts/base.html' %}
{% load filters %}
{% load staticfiles %}
{% load humanize %}

{% block page_title %}View Appointments By Date{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-heading">Upcoming Appointments</h1>


            <ul class="list-unstyled">
                {% for patient in patients.all %}
                    <li>Appointments for {{ patient.first_name }} {{ patient.last_name }}</li>

                    {% if upcoming.all.count == 0 %}
                        <div>No appointments scheduled.</div>
                    {% else %}
                        <ul>
                            {% for appointment in upcoming.all %}
                                <li>Dr. {{ appointment.calendar.doctor.last_name }}: {{ appointment.start_time|date:"h:i A" }} - {{ appointment.end_time|date:"h:i A" }} {% if appointment.pre_checkin_completed %} [Checkin Complete] {% else %} [<a href="/appointment/{{ appointment.id }}/checkin/billing/">Checkin</a>] {% endif %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}

            </ul>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-heading">Current Appointments</h1>


            <ul class="list-unstyled">
                {% for patient in patients.all %}
                    <li>Appointments for {{ patient.first_name }} {{ patient.last_name }}</li>

                    {% if current.all.count == 0 %}
                        <div>No appointments available.</div>
                    {% else %}
                        <ul>
                            {% for appointment in current %}
                                <li>Dr. {{ appointment.calendar.doctor.last_name }}: {{ appointment.start_time|date:"h:i A" }} - {{ appointment.end_time|date:"h:i A" }}</li>
                                <ul>
                                    {% if appointment.waiting_room_queue %}
                                        <li>There {% if appointment.waiting_room_queue == 1 %}is {% else %}are {% endif %} currently <em>{{ appointment.waiting_room_queue }}</em> {% if appointment.waiting_room_queue == 1 %}person {% else %}people {% endif %}ahead of you in the waiting room.</li>
                                    {% endif %}

                                    {% if appointment.exam_room_queue %}
                                        <li>There {% if appointment.exam_room_queue == 1 %}is {% else %}are {% endif %} currently <em>{{ appointment.exam_room_queue }}</em> {% if appointment.exam_room_queue == 1 %}person {% else %}people {% endif %}ahead of you in the exam rooms.</li>
                                    {% endif %}
                                </ul>

                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}

            </ul>


        </div>
    </div>


{% endblock %}

{% block bottom_js %}
    <script>
        $(document).ready(function(){
        })

    </script>


{% endblock %}
